.notices {
  font-family: garamond-premier-pro, serif;
}

.notices h3 {
  padding-top: 10px;
  border-top: 1px solid #00000020;
  margin-top: 60px;
  margin-bottom: 15px;
}

.notices ul,
.notices dl,
.notices p {
  margin-bottom: 30px;
}

.notices p {
  padding: 0 !important;
}

.notices ul,
.notices dd {
  padding-left: 30px;
}

.notices a {
  color: #000000aa;
  font-weight: bold;
}

.notices p:last-child {
  margin-bottom: 60px;
}
